@media screen and (max-width: 479px) {
  .wrapper {
    width: 200px; 
    margin: 0 auto; 
  }
  .header{
    height:210px;
  }
  .header-right{
    width: 60px;
    height:170px;
    position: absolute;
    right: 70px;
    display: flex;
    flex-direction: column;
  }
  .header-right-child{
  position:absolute;
  width: 40px;
  height: 40px;
  background-color:#a9004b;
  position:relative;
  top:0;
  left:10px;
  }
  .left{
    width: 100%;
    height:100px;
  }
  .right{
    width: 100%;
    height: 210px;
  }
  .right-contents{
    right: 30px;
    top: 20px;
    width: 140px;
  }
  .right-child{
    width: auto;
  }

}
